[Unit]
Description=My Kafka Streams App
After=network.target

[Service]
User=kafka
ExecStart=java -jar ../sdmp-kafka/build/libs/sdmp-kafka-1.0-SNAPSHOT-test.jar test-topic1 test-topic2
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
